# Diabetes Data Set

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
import cufflinks as cf  
init_notebook_mode(connected=True)

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

In [4]:
df = pd.read_csv("diabetes.csv")
df.sample(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
441,2,83,66,23,50,32.2,0.497,22,0
383,1,90,62,18,59,25.1,1.268,25,0
390,1,100,66,29,196,32.0,0.444,42,0
587,6,103,66,0,0,24.3,0.249,29,0
270,10,101,86,37,0,45.6,1.136,38,1
254,12,92,62,7,258,27.6,0.926,44,1
693,7,129,68,49,125,38.5,0.439,43,1
510,12,84,72,31,0,29.7,0.297,46,1
183,5,73,60,0,0,26.8,0.268,27,0
507,1,130,60,23,170,28.6,0.692,21,0

In [6]:
df=df[df.SkinThickness<70]
df=df[df.Glucose>0]
df=df[df.BloodPressure>35]
df=df[df.BMI>0]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 720 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               720 non-null    int64
 1   Glucose                   720 non-null    int64
 2   BloodPressure             720 non-null    int64
 3   SkinThickness             720 non-null    int64
 4   Insulin                   720 non-null    int64
 5   BMI                       720 non-null    float64
 6   DiabetesPedigreeFunction  720 non-null    float64
 7   Age                       720 non-null    int64
 8   Outcome                   720 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 56.2 KB

In [10]:
df.Outcome.value_counts()

# Unbalanced

Outcome
0    473
1    247
Name: count, dtype: int64

## Train|Test Split

In [9]:
X = df.drop("Outcome",axis=1)
y = df["Outcome"]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

## Modelling and Model Performance